
.intro__time
	margin-bottom 4rem
	font-weight 500
	font-family 'National 2 Narrow Web'

.text-section, .section__hed
	margin 0 auto
	padding 0 1rem
	max-width 42rem
	width 100%

	li
		margin 0
		margin-bottom 1em
		margin-left 1em
		list-style-type square

.section__hed
	margin-top 4rem
	font-size 36px
	font-family 'Tiempos Headline Web'

.intro__hed
	margin-top 4rem
	font-size 48px
	font-family 'Tiempos Headline Web'