<a href='#content' class='skip-to-main'>Skip to main content</a>

<header
	class='{{#ifEquals this 'sticky'}}is-sticky{{/ifEquals}}{{#ifEquals this 'sticky-dark'}}is-sticky is-dark{{/ifEquals}}'>
	<div class='header__container'>
		<a href='https://pudding.cool' target='_blank' class='logo'>
			<img inline src='pudding/wordmark.svg'>
		</a>
		<a href="https://docs.google.com/forms/d/e/1FAIpQLSfKBXyOnZHv-oQwQDmSAAxVcL-SoRQW-sqH9ZZQAV7y6brAnA/viewform" class="apply">
			<button>Apply now</button>
		</a>
	</div>

</header>